
@{
    ViewData["Title"] = "Index";
}

<body id="body">
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center">

            <h1>Coming Soon</h1>
            <h2>We're working hard to improve our website and we'll ready to launch after</h2>
            <div class="countdown d-flex justify-content-center" data-count="2023/12/4">
                <div>
                    <h3>15</h3>
                    <h4>Days</h4>
                </div>
                <div>
                    <h3>20</h3>
                    <h4>Hours</h4>
                </div>
            </div>

        </div>
    </header>
</body>


