#products {
    .container{
        width: 1140px;
        margin: 0 auto;
        .header {
            text-align: center;
            margin: 50px 0px;
            h1 {
                font-size: 50px;
                font-weight: 700;
                font-family: $font2;
                display: inline-block;
                padding: 0px 250px;
            }
        }
        .row{
            margin-bottom: 100px;
            .category{
                    padding: 0px 20px;
                    overflow: scroll;
                    height: 380px;
                    margin-right: 20px;
                h2{
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    font-family: $font2;
                }
                ul{
                    li{
                        transition: all 0.3s linear;
                        :hover{
                            font-size: 20px;
                            padding-left: 20px;
                            transition: all 0.3s linear;
                        }
                        a{
                            display: block;
                            font-size: 20px;
                            text-decoration: none;
                            padding: 10px;
                            text-transform: capitalize;
                            color: black;
                            margin: 10px 0px;
                            border-radius: 10px;
                            background-color: #650000;
                            color: white;
                            :hover{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            .brand{
                padding: 0px 20px;
                overflow: scroll;
                height: 380px;
                margin-right: 20px;
            h2{
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;
                font-family: $font2;
            }
            ul{
                li{
                    transition: all 0.3s linear;
                    :hover{
                        font-size: 20px;
                        padding-left: 20px;
                        transition: all 0.3s linear;
                    }
                    a{
                        display: block;
                        font-size: 20px;
                        text-decoration: none;
                        padding: 10px;
                        text-transform: capitalize;
                        color: black;
                        margin: 10px 0px;
                        border-radius: 10px;
                        background-color: #650000;
                        color: white;
                        :hover{
                            font-size: 30px;
                        }
                    }
                }
            }
            }
            .model{
                padding: 0px 5px;
                display: flex;
                flex-wrap: wrap;
                border-radius: 10px;
                overflow: scroll;
                height: 420px;
                border: 1px solid #565555;
                background-color: #818181;
                .custom-col{
                    padding: 0px 1%;
                    height: 380px;
                    margin-bottom: 50px;
                    .item{
                        width: 100%;
                        height: 250px;
                        padding: 0;
                        border-radius: 10px 10px 0px 0px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info{
                        display: flex;
                        flex-wrap: wrap;
                        background-color: #650000;
                        color: white;
                        width: 100%;
                        height: 130px;
                        border-radius: 0px 0px 10px 10px;
                        .prodname{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 100%;
                        }
                        :nth-child(1){font-size: 25px;}
                        .price{
                            width: 100%;
                            justify-content: space-evenly;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            p{
                                text-align: center;
                            }
                        }
                    }
                }
            }
            // .box{
            //     position: relative;
            //     .square{
            //         position: absolute;
            //         backdrop-filter: blur(5px);
            //         box-shadow: 0 25px 45px rgba(0,0,0,0.1);
            //         border: 1px solid rgba(255,255,255,0.5);
            //         border-right: 1px solid rgba(156, 82, 82, 0.2);
            //         border-bottom: 1px solid rgba(255,255,255,0.2);
            //         background: rgba(255,255,255,0.1);
            //         border-radius: 10px;
            //     }
            //     :nth-child(1){
            //         top: -50px;
            //         right: -60px;
            //         width: 100px;
            //         height: 100px;
            //     }
            // }
        }
    }
}