$color-orange:#ff4a17;
$color-black:#3b4247;
$color-white:#fff;
$color-gray:#616161;
$color-gray2:#eaeaea;
$color-blue:#6cb3e6;
$color-yellow:#a7e00a;
$color-blue2:#0407c7;
$color-red:#eb0000;


$font1:"Nunito Sans", sans-serif;
$font2:"Source Sans Pro", sans-serif;
$font3:"Poppins Arial", sans-serif;